em{
    color: rgb(255, 0, 0);
    font-weight: bold;
}
fieldset{
    width: 400px;
    margin: 15px auto;
    border: 5px inset black;
    padding: 15px;
    border-radius: 5px;
}

legend{
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
label{
    width: 150px;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(0, 0, 0);
}
input[type] :focus {
    background-color: rgb(17, 0, 255);
    font-size: 18px;
}
input[type="reset"], input[type="submit"]{
    font-size: 18px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(25, 0, 251);
    border: 3px inset rgb(0, 0, 0);
    border-radius: 20px;
}
input[type="reset"]:hover{
    background-color: red
}
input[type="submit"]:hover{
    background-color: lime;
}

.przyciski{
    width: 300px;
    margin:auto;
}