body {
    background-color: rgb(215, 129, 16); 
    margin: auto;
    width: 1024px;
}

header{
    width: 1024px;
    height: 150px;
    background-color: #111ba1; 
    color: rgb(255, 255, 255);
    text-align: center;
}

nav{
    width: 200px;
    background-color: rgb(31, 31, 201);
    text-align: center;
}
.article{
    width: 100%;
    background: radial-gradient(circle, rgb(255, 255, 255) 22%, rgb(38, 0, 255) 75%);
    border: 2px dashed rgb(0, 0, 0);
    padding: 5px;
    
}
.aside{
    width: 100%;
    background-color: rgb(215, 129, 16);
} 
*{
    box-sizing: border-box;
}
body>footer{
    border: 5px dotted rgb(255, 255, 255);
    height: 200px;
}

iframe{
    width: 100%;
    height: 100%;
    border: 5px solid black;
}

body> footer, body>nav, body>article{
    padding: 15px;
}

#Galeria{
    background-color: white;
}

#prezka{
    width: 476px; 
    height: 288px; 
}

#outer_prezka{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

canvas{
    background-color: wheat;
    border: 5px solid red;
}