body.first {
    background-color: rgb(215, 129, 16); 
    margin: auto;
    width: 100%;
    max-width: 1000px;
}
body.second{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    /* width: 1024px;
    height: 150px; */
    width: 100%;
    height: 100%;
    background-color: #111ba1; 
    color: rgb(255, 255, 255);
    text-align: center;
}

nav{
    width: 100%;
    background-color: rgb(31, 31, 201);
    text-align: center;
}
.article{
    width: 100%;
    background: radial-gradient(circle, rgb(255, 255, 255) 22%, rgb(38, 0, 255) 75%);
    border: 2px dashed rgb(0, 0, 0);
    padding: 5px;
    height: auto;
}
.aside{
    width: 100%;
    height: auto;
    border: none;
} 
*{
    box-sizing: border-box;
}
body>footer{
    border: 5px dotted rgb(255, 255, 255);
    height: 200px;
}

iframe{
    width: 100%;
    height: 100%;
    border: 5px solid black;
}

body> footer, body>nav, body>article{
    padding: 15px;
}

#Galeria{
    background-color: white;
}


#outer_prezka{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjust the height as needed */
}

canvas{
    background-color: wheat;
    border: 5px solid red;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.odd{
    background-color: yellowgreen;
}
.even{
    background-color: red;
}
.iframe_aside{
    min-height: 15em;
    background-color: red;

}
#grafikaJS{
    width: 60%;
    height: 100%;
}

#sliders{
    width: 20%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}