body {background-color: rgb(0, 21, 255); 
    margin: auto;
    width: 1024px;
}

header{
    width: 1024px;
    height: 150px;
    background-color: rgb(255, 255, 255); 
    color: black;
    text-align: center;
}
nav, article, aside{
    height: 800px;
    border: 5px solid rgb(0, 0, 0);
}
nav{
    width: 200px;
    float: left;
    background-color: rgb(255, 255, 255);
}
article{
    width: 600px;
    float: left;
    overflow: auto;
    background: radial-gradient(circle, rgb(255, 255, 255) 22%, rgb(38, 0, 255) 75%);
}
aside{
    width: 224px;
    float: left;
    background-color: rgb(255, 255, 255);
} 
*{
    box-sizing: border-box;
}
body>footer{
    border: 5px dotted rgb(255, 255, 255);
    height: 200px;
    clear: both;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

body> footer, body>nav, body>article{
    padding: 15px;
}

#Galeria{
    background-color: white;
}